<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Visitor</title>
</head>
<body>
    <h1>You are?</h1>
    <form action="/client/old_client" method="GET">
        <button type="submit">Old Client</button>
    </form>
    <form action="/client/new_client" method="GET">
        <button type="submit">New Client</button>
    </form> 
</body>
</html>