<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Kya kaam hai tumhara?
    <form action="/service_provider/login" method="GET">
        <button type="submit">Log In?</button>
    </form>
    <form action="/service_provider/new_service_provider" method="GET">
        <button type="submit">Sing Up Karna Chahte Ho?</button>
    </form>
</body>
</html>